<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHP Dischi JSON</title>
    <!-- Mio CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- /Mio CSS -->
  </head>
  <body>
    <div id="app" v-cloak>
      <header>
        <h1>PHP Dischi JSON</h1>
      </header>
      <main>
        <div class="container">
          <ul class="card-wrapper">
            <li v-for="(disco, index) in dischi" @click="getDisco(index)">
              <div class="card">
                <div class="img"><img :src="disco.path" :alt="index" /></div>
                <h3 class="title">{{ disco.title }}</h3>
                <p class="artist">{{ disco.artist }}</p>
                <h4 class="year">{{ disco.year }}</h4>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal" v-if="disco !== null">
          <div class="img"><img :src="disco.path" alt="img" /></div>
          <h3>{{ disco.title }}</h3>
          <p>{{ disco.artist }}</p>
          <p>{{ disco.year }}</p>
          <button class="modal-close" @click="changeStatus">X</button>
        </div>
      </main>
    </div>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /VueJS -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /Axios -->
    <!-- Mio JS -->
    <script src="js/main.js"></script>
    <!-- /Mio JS -->
  </body>
</html>
